metabase:
    image: {{ metabase_docker_image }}
    container_name: {{ metabase_docker_container_name }}
    ports:
      - "{{ metabase_port }}:3000"
    environment:
      - MB_DB_TYPE={{ metabase_db_type }}
      - MB_DB_DBNAME={{ metabase_db_name }}
      - MB_DB_PORT={{ metabase_db_port }}
      - MB_DB_USER={{ metabase_db_user }}
      - MB_DB_PASS={{ metabase_db_password }}
      - MB_DB_HOST={{ metabase_db_server }}