spring.datasource.url=jdbc:postgresql://{{ analytics_db_server }}/{{ analytics_db_name }}?currentSchema={{ bahmni_mart_scdf_schema_name }}
spring.datasource.username={{ analytics_db_user }}
spring.datasource.password={{ analytics_db_password }}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.ds_openmrs.url=jdbc:mysql://{{ openmrs_db_server }}/{{ openmrs_db_name }}
spring.ds_openmrs.username={{ openmrs_db_username }}
spring.ds_openmrs.password={{ openmrs_db_password }}
spring.ds_openmrs.driver-class-name=com.mysql.jdbc.Driver

spring.ds_mart.url=jdbc:postgresql://{{ analytics_db_server }}/{{ analytics_db_name }}
spring.ds_mart.username={{ analytics_db_user }}
spring.ds_mart.password={{ analytics_db_password }}
spring.ds_mart.driver-class-name=org.postgresql.Driver

bahmniMartConfigFile=file:{{ bahmni_mart_config_file }}
defaultConfigPath={{ default_app_config_file_path }}
implementationConfigPath={{ implementation_app_config_file_path }}
defaultExtensionConfigPath={{ default_extension_config_file_path }}
implementationExtensionConfigPath={{ implementation_extension_config_file_path }}

logging.file={{ bahmni_mart_log_path }}
logging.config={{ bahmni_mart_logback_xml_path }}

bahmni-mart.mail.subject={{ mail_subject }}
bahmni-mart.mail.from={{ mail_from }}
bahmni-mart.mail.recipients={{ mail_recipients }}

#liquibase migration
liquibase.change-log=file:{{ liquibase_changelog_path }}
liquibase.enabled=true
liquibase.url=jdbc:postgresql://{{ analytics_db_server }}/{{ analytics_db_name }}
liquibase.user={{ analytics_db_user }}
liquibase.password={{ analytics_db_password }}