#!/usr/bin/env bash

ANALYTICS_DB_HOST={{ analytics_db_server }}
ANALYTICS_DB_USERNAME={{ analytics_db_user }}
ANALYTICS_DB_NAME={{ analytics_db_name }}
POSTGRESQL_PORT={{ analytics_db_port }}

BACKUP_FILE_LOCATION=$1;

restore_encrypted_file(){
    gpg --decrypt ${BACKUP_FILE_LOCATION} | psql -h ${ANALYTICS_DB_HOST} -p ${POSTGRESQL_PORT} -U ${ANALYTICS_DB_USERNAME} ${ANALYTICS_DB_NAME}
}

restore_unencrypted_file(){
    psql -U ${ANALYTICS_DB_USERNAME} ${ANALYTICS_DB_NAME} < ${BACKUP_FILE_LOCATION}
}

echo "Restoring  ${ANALYTICS_DB_NAME} with ${BACKUP_FILE_LOCATION}"

if [ "$2" == "-e" ]; then
    restore_encrypted_file;
else
    restore_unencrypted_file;
fi

EXIT_CODE=$?
echo

if [ ${EXIT_CODE} == 0 ]; then
    echo "${ANALYTICS_DB_NAME} restore is successfully completed";
else
    echo "${ANALYTICS_DB_NAME} restore is failed"
    exit ${EXIT_CODE}
fi
